@media only screen and (max-width: 600px){
    .heading-text-name h2 {
        /* font-size: 45px; */
        width: 100%;
        font-size: 1.3em;
    }
    .heading-text-name .mask{
        height: 105px;
    }
    .banner-text{
        padding-top: 50%;
    }

    .heading-text-name{
        font-size: 3.5em;
    }

    .text-container{
        /* height: 200px; */
        height: 350px;
        width: auto;
        padding-top: 150px;
    }
    .navbar-content{
        color: white;
    }
    
    .navbar-content:hover{
        color: #041C32;
    }
    .row{
        text-align: center;
        justify-content: center;
        justify-items: center;
        /* padding-top: 15%; */
    }
}


